# Enforce CRLF on all text files
* text=auto eol=crlf

# Ensure SVGs specifically use CRLF
*.svg text eol=crlf

# Handle other common web files
*.ts text eol=crlf
*.json text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
